@import "animations.css";
.heading {
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}

.biggest {
  font-size: 3rem;
}

.sans {
  font-family: Avenir Next, Helvetica Neue, sans-serif;
}

.centered {
  text-align: center;
}

.lh15 {
  line-height: 1.5;
}



.Label {
  /* all styles for Normal */
  font-size: 13px;
  font-family: helvetica, arial, sans-serif;
  /*font-weight: 600;*/
  padding: 0.5rem 1rem 0.45rem;
  composes: no-bg from "./colors.css";
  min-width: 9em;
  margin: 0.25rem;
}

.Label--disabled {
  /* overrides for Disabled */
  opacity: 0.5;
}

.Label--error {
  /* overrides for Error */
  color: hsla(0, 61%, 51%, 0.5);
}

.Label--in-progress {
  /* overrides for In Progress */
  color: hsl(210, 61%, 31%);
  background: linear-gradient(-45deg, hsl(0, 100%, 100%), hsl(0, 100%, 100%) 25%, hsl(221, 100%, 97%) 25%, hsl(221, 100%, 97%) 50%, hsl(0, 100%, 100%) 50%, hsl(0, 100%, 100%) 75%, hsl(221, 100%, 97%) 75%, hsl(221, 100%, 97%));
  animation: shiftBackgroundLeft4rem 2s linear infinite;
  background-size: 8rem 8rem;
  background-position: 0 0;
}




/*Usage in html */
/*<label class="Label Label--in-progress">Processing...</button>*/